/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/09/2015, 01:25:30 PM
    Author     : carpe
*/
body{
    background: #04B4AE;
}
.login{

    margin: 0 auto;
    width: 280px  ;
    padding: 5px;
    height: auto;
    box-shadow: 1px 1px 4px black;
    background: #01A9DB;
}

.login-head{

    padding: 5px;
    height: 30px;
    width: 270px;    
    background: #0B4C5F;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid black;
}

.login-head div{
    margin-top: 5px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 1px 1px 4px black ;

}
.login-body{
    padding: 25px;
    height: auto;
    width: 230px;  
    background: white;
    border:1px solid black;
    border-top:0px;
    border-radius: 0px 0px 3px 3px;

}

.login-body{
    font-family: Arial;

}
.item{
    margin-bottom:  20px;

}
.input{

    height:20px;
    width:  100%;

}
.page-scroll ul{

    margin-left: -175px;
    padding: 25px;
    width: 250px;
    //color: white; 
    background: #5882FA;
    box-shadow: 5px 5px 10px black;
    border: 1px solid black;
    
    list-style: none;
    display: none;
    position: absolute;
    alignment-adjust: text-after-edge;

}
.page-scroll:hover ul   {
    display:block;
}

.boton{
    margin-top:  10px;
    color:black;

}
.CBB{
    /* contenedor de checkbox */
    margin: 0 auto;
    
    height: 50px;
    width: 270px;
}


.checkroute{
    float: left;
    margin: 10px;
    padding: 5px;
    font-family: arial;
    background: #F5ECCE;
    border-radius: 5px;
}


